<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
</head>
<body>

<h1>Página Inicial</h1>

<a href="{% url 'index' %}">Início</a><br>
<h2>Tabelas unicas</h2> <br> <br>
<a href="{% url 'add_personagem' %}">Adicionar Personagem</a><br>
<a href="{% url 'consulta_personagem' %}"> Consultar personagem</a><br>
<a href="{% url 'add_episodio' %}">Adicionar Episódio</a><br>
<a href="{% url 'consulta_episodio' %}"> Consultar episódio</a><br>
<h2>Tabela de relacionamento</h2> <br> <br>
<a href="{% url 'add_episodio_personagem' %}">Adicionar Episódio Personagem</a><br>
<a href="{% url 'consulta_ep_personagem' %}"> Consultar ep personagem</a><br>

</body>
</html>
